*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*TODO: I. Trang Home*/
.loader{
	width: 100%;
	height: 100vh;
	background: #00b8ff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000000000;
	display: block;
	overflow: hidden;
}
.icon{
	font-size: 80px;
	color: #fff;
	position: absolute; 
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
}
.xoay{
	animation: xoay 1.5s linear infinite;
	-moz-animation: xoay 1.5s linear infinite;
	-ms-animation: xoay 1.5s linear infinite;
	-o-animation: xoay 1.5s linear infinite;
	-webkit-animation: xoay 1.5s linear infinite;
}
@keyframes xoay{
	from{
		-ms-transform:rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to{
		-ms-transform:rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
  
.nav-item:hover{
	color: white;
}
.navbar-dark .navbar-toggler{
    outline: none;
    padding: .25rem 0.5rem;
    font-size: 1rem;
}
.search{
    position: relative;
    border-radius: .7rem;
}
.carousel-item img{
	height: 450px;
}
.carousel .carousel-item{
    height: 450px;
    position: relative;
}

.project-name{
    color: #0056b3;
   text-decoration: none;
    font-weight: 500;
    font-size: 22px;
}
.list-bs4{
    margin-left: 40px;
}

.modal-header .close {
    outline:none;
}

/*TODO: 2. Trang About*/
.about-heading{
	margin-top: 75px;
}
/*TODO: 3. Trang Services*/
.services-heading{
	margin-top: 75px;
}
/*TODO: 3. Trang Contact*/
.contact-heading{
	margin-top: 75px;
}